.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel a {
  display: inline-block;
  min-width: 25%;
  text-align: center;
}

.carousel img {
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}
